* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
}
