body {
    margin: 0;
    overflow: hidden;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background: #000;
    border: 2px solid #fff;
}
