body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background: #000;
    display: block;
    border: 2px solid #fff;
}
