body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-gap: 2px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.open {
    background-color: white;
}

.cell.mine {
    background-color: red;
}

.cell.flag {
    background-color: yellow;
}

#restartBtn {
    padding: 5px 10px;
}
